.delete-account{
    border-top: 1px solid var(--color-gray-500);
    padding: 30px;
    .container{
        .content{
            .delete-Details{
                h5{
                    margin: 25px 0;
                    color: var(--color-theme);
                }
                p{
                    font-size: 16px;
                    margin-bottom: 15px;
                }

                form{
                    .checkbox-group{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                    }

                    .delete-account-btn{
                        .btn-delete{
                            background-color: var(--color-warning);
                            border: none;
                            text-decoration: none;
                            padding: 16px 35px;
                            border-radius: 8px;
                            font-size: 18px;
                            color: var(--color-white);
                            margin-top: 40px;
                        }
                    }
                }
            }
        }
    }
}