@{
    var theme = Context.Request.Cookies["theme"] ?? "light";
    var isDarkMode = (theme == "dark") ? true : false;
}


<!DOCTYPE html>
<html lang="en" class="@theme">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @(!string.IsNullOrEmpty(ViewData["Title"]?.ToString()) ? ViewData["Title"] + " | Silicon" : "Silicon")
    </title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <partial name="~/Views/Partials/Sections/_Header.cshtml" />


        <section class="account">
            <div class="container">
                <aside>
                    <partial name="~/Views/Account/_AccountSidebar.cshtml" />
                   
                </aside>
                <main>
                    @RenderBody()
                </main>
            </div>
        </section>


        <partial name="~/Views/Partials/Sections/_Footer.cshtml" />
    </div>
    <partial name="~/Views/Shared/CookieConsent.cshtml" />


    <script src="https://kit.fontawesome.com/a041cc045c.js" asp-append-version="true" crossorigin="anonymous"> </script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>
