@{
    ViewData["Title"] = "Error";
}



<section class="404-error">
    <div class="container">
        <div class="content">
            <img src="~/images/logos/404-icon.svg" />
            <h1>Ooops!</h1>
            <p>The page you are looking for is not available</p>
            <button class="btn-theme"><img src="~/images/logos/house-icon.svg" />Go to homepage</button>
        </div>
    </div>
</section>