
<section class="contactus">
    <div class="background">
        <div class="container">
            <div class="breadcrumb">
                <p><img src="~/images/contactpage/bx-home-alt.svg" />Home <img src="~/images/contactpage/small-arrow.svg" /> Contact</p>
            </div>

            <div class="content">
                <h1>Contact Us</h1>

                <div class="contact-info">
                    <div class="contact-content">
                    <div class="email-contact">
                        <div class="contact-img">
                            <img src="~/images/contactpage/email-icon.svg" alt="Email Icon" />
                        </div>
                        <div class="email-group">
                            <h4>Email Us</h4>
                            <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                            <button class="contact-btn">Leave a Message <img src="~/images/contactpage/icon-r.svg" /></button>
                        </div>
                    </div>
                      
                    <div class="contact-careers">
                        <div class="contact-img">
                            <img src="~/images/contactpage/careers-icon.svg" />
                        </div>
                        <div class="career-group">
                            <h4>Careers</h4>
                            <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                            <button class="contact-btn">Send an application <img src="~/images/contactpage/icon-r.svg" /></button>
                        </div>
                    </div>
                    </div>
                     <partial name="~/Views/Contact/_ContactForm.cshtml" />
                </div>
            </div>
        </div>
         <div id="google-maps">
        <img class="image-map" src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap
                    &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
                    &markers=color:red%7Clabel:C%7C40.718217,-73.998284
                    &key=AIzaSyCwAifACebSGwyW371BCzlFzv8l4Kwnk4U" alt="Google Map" />
    </div>
    </div>
   
</section>


