<section class="frontpagepic">
    <div class="vl"></div>
    <h2>Switch Between Light & Dark Mode</h2>
    <div class="container">
        <div class="laptop-image">
            <img class="black-macbook" src="~/images/slider/mockup-laptop.svg" />
        </div>
        <div>
       </div>
    </div>
</section>