<section class="content-section">
    <div class="container">
        <div class="content">
                <div class="image-frontpage">
                    <img class="image-frontpage" src="~/images/fronpage/contentpic.svg" alt="Manage your work"/>
                </div>
                <div class="text-container">
                    <h2>Manage Your Work</h2>
                    <ul>
                        <li><img src="./images/fronpage/Vector.svg" width="12" height="12" alt="Bullet Icon"/>Powerful project management</li>
                        <li><img src="./images/fronpage/Vector.svg" width="12" height="12" alt="Bullet Icon" />Transparent work management</li>
                        <li> <img src="./images/fronpage/Vector.svg" width="12" height="12" alt="Bullet Icon" />Manage work & focus on the most important tasks</li>
                        <li> <img src="./images/fronpage/Vector.svg" width="12" height="12" alt="Bullet Icon" />Track your progress with interactive charts</li>
                        <li><img src="./images/fronpage/Vector.svg" width="12" height="12" alt="Bullet Icon" />Easiest way to track time spent on tasks</li>
                    </ul>
                    <a class="btn-theme btn-learn-more" asp-action="SignUp" asp-controller="Auth">Learn More <img src="~/images/fronpage/Vector.svg" /></a>
                </div>
         </div>
    </div>
</section>