@model PasswordModel

@{
    ViewBag.Title = "Change Password";
}


<section class="change-password">
    <div class="container">
        <div class="passwordcontainer">
            <form id="passwordForm" method="post" asp-action="ChangePassword" asp-controller="Account">
                <h2>Security</h2>
                <h5 class="h5-theme">Password</h5>
               
                    <div class="input-password input-group">
                        <label class="input-label" asp-for="CurrentPassword"></label>
                        <input asp-for="CurrentPassword" type="password" id="currentPassword" />
                        <span asp-validation-for="CurrentPassword"></span>
                    </div>
              
                   <div class="change-password-form">
                    <div class="input-new-password input-group">
                        <label class="input-label" asp-for="NewPassword"></label>
                        <input class ="changepassword" asp-for="NewPassword" id="newPassword" type="password" name="password" />
                        <span asp-validation-for="NewPassword"></span>
                    </div>

                    <div class="input-confirm input-group">
                        <label class="input-label" asp-for="ConfirmPassword"></label>
                        <input class="changepassword" asp-for="ConfirmPassword" id="confirmPassword" type="password" name="confirm_password" onkeyup="validateAccountForm"/>
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div class="security-btn">
                    <button class="btn-social-login" type="reset">Cancel</button>
                    <button id="btn-submit" class="btn btn-theme" type="submit">Change Password</button>
                </div>
              
            </form>
        </div>
    </div>
</section>

   <script src="~/js/accountValidation.js"></script>