@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
}
<section class="signin">
     <div class="container">
         <form method="post" asp-controller="Auth" asp-action="SignIn">
             <h1>Sign in</h1>
             <p>Don't have an account yet?<a asp-controller="Auth" asp-action="SignUp"> Sign up here</a></p>

            <div class="alert-warning">
                @ViewData["StatusMessage"]
            </div>
             <div class="form-content">
                
                 <div class="input-group">
                     <label class="input-label" asp-for="Email"></label>
                     <input asp-for="Email" />
                     <span asp-validation-for="Email"></span>
                 </div>

                <div class="input-group">
                    <label class="input-label" asp-for="Password"></label>
                    <input asp-for="Password"/>
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="checkbox-group">
                    <div class="input-group">
                        <input asp-for="RememberMe"/>
                        <label asp-for="RememberMe"> Keep me signed in</label>
                    </div>
                </div>

                <button class="btn btn-theme" type="submit">Sign in</button>
                <a asp-action="ForgotPassword" asp-controller="Auth">Forgot your password?</a>
             </div>
           
         </form>
        <hr class="divider-solid" />
        <div class="social-login">
            <h6>Or sign in with your social account</h6>
            <div class="socialmedia-login">
                <a class="button btn-social-login" asp-action="Google" asp-controller="Auth"><i class="fa-brands fa-google"> Google</i></a>
                <a class="button btn-social-login" asp-action="Facebook" asp-controller="Auth"><i class="fa-brands fa-facebook"> Facebook</i></a>
            </div>
        </div>
     </div>
</section>