@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="courses-illustration">
    <div class="container-background">
        <div class="content">
            <div class="main-content">
                <p>Ready to get started?</p>
                <h2>Take Your <span class="skills">Skills</span> to the Next Level</h2>
            </div>
            <a class="btn-theme" asp-action="SignUp" asp-controller="Auth">Work with us</a>
        </div>
        <div class="courses-image">
            <img class="illustration" src="~/images/course/illustration.svg" />
        </div>
    </div>
</section>